* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #565555;
    font-family: sans-serif;
    color: white;
}

.black {
    background-color: #313131;
}

.white {
    background-color: white;
}

.orange {
    background-color: #f67828;
}

.pink {
    background-color: #ee396c;
}

.container {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
}

.col {
    float: left;
}

.quote {
    width: 10%;
}

.message {
    width: 50%;
}

.author {
    width: 25%;
}

.avatar {
    width: 15%;
}
